.home-layout{
    display: flex;
    flex-direction: row;
}

.sidebar-container{
    background-color: darkgray;
    height: inherit;
    display: flex;
    border: black;
    margin-left: 0.2%;
}

.home-container{
    display: flex;
    flex-direction: row;
    border: black;
    margin-left: 3%;
    margin-top: 18px;
    width: 100%;
}

.json-format{
    color: navy;
    font-size: medium;
}

.response {
    color: navy;
    font-size: medium;
}

